.modal {
    min-width: 360px;
    background-image: linear-gradient(45deg, rgb(1, 113, 240), orange);
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 2px 1px grey;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 4px;
    animation-name: modalAnimation;
    animation-duration: .7s;


}

.headerModal {
    display: flex;
}

.btnClose {
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.61);
    border-radius: 4px;
    border: 1px solid white;
}

ul {
    margin: 15px auto;
}

.lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: white;
    padding: 5px;
}

@keyframes modalAnimation {
    0% {
        height: 0px;
    }

    100% {
        max-height: auto;

    }
}