.header {
    width: 100%;
    height: 60px;
    background-color: rgb(1, 113, 240);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;

    font-weight: bolder;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar {
    display: flex;
    width: 10%;
    margin-right: 10px;
}

.navBar ul {
    list-style: none;
}

.navBar ul li a {
    color: white;
    text-decoration: none;
}